    <% if(productos.length > 0){ %>
        <% for (const producto of productos) {%>
            <div class="col-md-4">
                <div class="col-md-4">
                    <div class="card" style="width: 10rem;">
                        <img src=<%= producto.foto %> class="card-img-top img_secundarias" alt="...">
                        <div class="card-body">
                            <h3><%= producto.codigo %></h3>   
                            <p class="card-text">$<%= producto.precio %></p>
                            <button class="btn btn-outline-primary" id="<%= producto.id %>" onclick="showProductDetail('<%= producto.id %>');">Detalle</button>                            
                        </div>
                    </div>
                </div>
            </div>
        <%};%>
    <% } else{ %>
        <h3 class="alert alert-danger">No se encontraron productos</h1>
    <% }%>